{
  "env": {
    "cjs": {
      "presets": [["env"]],
      "plugins": [["transform-object-rest-spread", { "useBuiltIns": true }]]
    },
    "es": {
      "presets": [["env", { "modules": false }]],
      "plugins": [["transform-object-rest-spread", { "useBuiltIns": true }]]
    }
  }
}
