{
  "env": {
    "cjs": {
      "presets": [["env"]],
      "plugins": [["transform-object-rest-spread", { "useBuiltIns": true }]]
    },
    "es": {
      "presets": [[
        "env",
        {
          "targets": {
            "node": "current"
          },
          "modules": false
        }
      ]],
      "plugins": [["transform-object-rest-spread", { "useBuiltIns": true }]]
    }
  }
}
